.app-bar {
  @apply fixed z-auto inset-x-0 bottom-0 flex justify-around items-center h-14;
  @apply bg-white border-t-2 border-primary/10;

  &__link {
    @apply flex flex-col gap-y-1 justify-center items-center text-center;

    &-icon {
      @apply text-primary;
    }

    &-text {
      @apply text-xs text-gray-700;
    }
  }
}
