.collapser {
  &__header {
    @apply flex items-center justify-between h-12;

    &-label {
      @apply text-sm text-gray-700 font-light;
    }
  }

  &__body {
    @apply overflow-hidden;
    
    max-height: 500px;
  }
}