.nav-bar {
  display: flex;
  align-items: center;
  padding: 0 $space-4;
  min-height: 58px;

  @include flex-column-gap($space-2);

  &__logo {
    height: 24px;
    width: 112px;
  }

  &__actions {
    margin-left: auto;
  }
}