.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: $space-6 $space-4;

  &__headline {
    margin-bottom: $space-8;

    &-title {
      margin-bottom: $space-4;
      
      @include font-style('3xl', 'bold');
    }
    &-subtitle {
      color: $text-color-lighter;

      @include font-style('lg', 'medium');
    }
  }

  &__actions {
    display: flex;

    @include flex-column-gap($space-2)
  }
}