.hero {
  @apply flex flex-col justify-center;
  @apply px-4 py-4;

  min-height: 500px;

  &__headline {
    @apply mb-6;

    &-title {
      @apply mb-2 text-xl font-bold;
    }
    &-subtitle {
      @apply font-medium text-gray-500;
    }
  }

  &__actions {
    @apply flex gap-x-2;
  }
}